<% provide(:title, 'About') %>
<% provide(:hero_title, "About") %>
<% provide(:tagline, "Why we're here") %>
<% provide(:header_image_url, 'http://24.media.tumblr.com/6cd60ec5d38560f851ad6856acc7f7ff/tumblr_myp94uOjbG1st5lhmo1_1280.jpg') %>

<div class='page-content'>
  <div id='smedium-info'>
    <h3 class="subheader">We were enamored.</h3>
    <p>        
      As we were about to start a new project, we wanted to mimic the signup/sign in process from <a href="http://medium.com">medium.com</a>, and then we thought their URL structure was awesome, and then... Well, one thing led to another and now you're looking at this little project.
      <br>
      Simply put, if smedium had existed, it would have saved us a good chunk of work, so we throught we'd build this and share with friends like you.
      It's a fairly simple Rails app (Rails 4.0.1, Ruby 2.0.0) built using <a href="http://foundation.zurb.com/">Zurb's excellent Foundation 5</a> to help anyone jump start a project. It's extensible, nicely formatted, and fairly DRY.
    </p>
    <h6 >Why smedium? It's a small version of Medium.</h6>
    <% if current_user %>
      <p>
      So give it a shot; you can <a href="https://github.com/rcolinkennedy/smedium/">check it out on GitHub</a> and be rocking and rolling after a fork and a clone.
      </p>  
    <% else %>
      <p>
      So give it a shot; <%= link_to "Sign in with Twitter", '/auth/twitter' %> to check out how it works; if you dig it, you can <a href="https://github.com/rcolinkennedy/smedium/">check it out on GitHub</a> and be rocking and rolling after a fork and a clone.
      </p>
    <% end %>
    <h6>Thanks for stopping by.</h6>
  	<%= link_to "Home", root_path, :class => "button radius" %>
  </div>
</div>
