<% provide(:title, 'About') %>
<% provide(:hero_title, "About") %>
<% provide(:tagline, "Why we're here") %>
<% provide(:header_image_url, 'http://24.media.tumblr.com/6cd60ec5d38560f851ad6856acc7f7ff/tumblr_myp94uOjbG1st5lhmo1_1280.jpg') %>

<!DOCTYPE html>
<html>
  <body>
    <div class='page-content'>
    	<p>
    		This is a sample About page for
      		<a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
    	</p>
		  <p>
      	<%= link_to "Home", root_path, :class => "button radius" %>
      </p>
    </div>
  </body>
</html>