<% provide(:title, 'About') %>
<% provide(:hero_title, "About") %>
<% provide(:tagline, "Why we're here") %>

<!DOCTYPE html>
<html>
  <body>
    <div class='page-content'>
    	This is a sample About page for
      <a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
      <p>
      	<%= link_to "Home", root_path, :class => "button radius" %>
      </p>
    </div>
  </body>
</html>