<% provide(:title, 'About') %>
<% provide(:hero_title, "About") %>
<% provide(:tagline, "Why we're here") %>
<% provide(:header_image_url, 'http://25.media.tumblr.com/10744cab3e8c4882fb64b6ae7f888a2f/tumblr_mrrad4hojD1st5lhmo1_1280.jpg') %>

<!DOCTYPE html>
<html>
  <body>
    <div class='page-content'>
    	<p>
    		This is a sample About page for
      		<a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
    	</p>
		<p>
      		<%= link_to "Home", root_path, :class => "button radius" %>
      	</p>
    </div>
  </body>
</html>