<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      This is a sample About page for
      <a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
    </p>
  </body>
</html>