<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to smedium, <%= @user.nickname %></h1>
    <p>
      We're just making sure this is the correct email address for you.
    </p>
    <p>
      <!-- To login to the site, just follow this link: <%= @url %>. -->
    </p>
    <p>Thanks for joining and have a great day!</p>
    <br>
    <h6>~ the smediators</h6>
  </body>
</html>