<% provide(:title, 'Edit') %>
<!DOCTYPE html>
<html>
  <head>
    <title>smedium Register New User</title>
  </head>
  <body>
    <h1>Edit</h1>
    <p>
      <h2>This is the Edit page, under "edit"</h2>
    </p>
    <p>
      <h3>Signed in as <%= current_user.nickname %></h3>
      <p>Update your email address
      </p>
		<%= form_for @user do |f| %>
		  <p>
		    <%= f.text_field :email %>
		  </p>
      <%= f.submit "Update", :class => "button radius" %>
		<% end %>
  </body>
  
<!-- Found at http://localhost:3000/users/<username>/edit -->