<% provide(:title, 'Register') %>
<!DOCTYPE html>
<html>
  <head>
    <title>smedium Register New User</title>
  </head>
  <body>
    <h1>Register</h1>
    <p>
    	<h3>Enter your email address below to complete registration</h3>     
		<%= form_for @user do |f| %>
		  <p>
		    <%= f.label :email %><br />
		    <%= f.text_field :email %>
		  </p>
      <%= f.submit "Complete Registration", :class => "button" %>
		<% end %>
  </body>
