<% provide(:title, @user.nickname ) %>
<% provide(:hero_title, '@'+@user.nickname) %>
<% provide(:tagline, "See yourself here") %>
<% provide(:header_image_url, 'http://31.media.tumblr.com/5d40ddbd07fc716e715bd5462e305edd/tumblr_mx3tmhXNNE1st5lhmo1_1280.jpg') %>

<div id='profile-info'>
  <div id='profile_photo'><%= portrait_for(@user,'bigger') %></div>
  <h1><%= @user.name %></h1>
</div>  
<div class='page-content'>
  <div id='smedium-info'>
    <p>
      This is a sample public Profile page for
      <a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
      <br>
      You can see a User's Twitter profile image here, and there are styles throughout the applicaction to reference it in three sizes, two of them smaller than the one above, for use in feeds and such.
      <br>
      We didn't pull profile info from Twitter, but it's easy to set up as a new field about the user, and you can present it here. For other projects, you can put stats about a user and more in this panel. 
    </p>
  </div>
</div>
