<% provide(:title, @user.nickname ) %>
<% provide(:hero_title, "Profile") %>
<% provide(:tagline, 'Your identity here') %>
<% provide(:header_image_url, 'http://25.media.tumblr.com/d9e791508eb9a532aa7f258fa4e0fedc/tumblr_mtag5zve3g1st5lhmo1_1280.jpg') %>

<!DOCTYPE html>
<html>
  <body>
    <div class='page-content'>
      <%= portrait_for(@user,'bigger') %>
      <h1><%= @user.nickname %></h1>
      <p>
        This is a sample public Profile page for
        <a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
        <div>
          <%= link_to "Home", root_path, :class => "button radius" %>
        </div>
      </p>
    </div>
  </body>
</html>
