// Import Foundation and Overrides so we can acces the variables and mixins


@import "foundation_and_overrides";

// Custom Sass and CSS goes in here

// mixins, variables, etc.

$PageBackground: #ffffff;
$GreyMediumLight: #eaeaea;
$GreyCharcoal: #353535;
$GreySoftCharcoal: #3F4044;
$FooterTextSize: 0.8em;
$FooterHeight: 2em;


// Basic formatting

// Declarations below extend left off canvas panel to bottom of screen, but break page scrolling. It's the body,html section that breaks evertying
  // body,html{
  //     height:100%;
  //     width:100%;
  // }
  // .page{
  //   // Fix the footer
  //   margin-bottom: 20px;
  //   // padding-bottom: 20px;
  //   // height:100%;   
  // }


// .off-canvas-wrap .inner-wrap .off-canvas-wrap {
//   height:100%;
//   // z-index:-3;
// }

// .inner-wrap {
//   margin-bottom: $FooterHeight;
// }

.container {
  position: absolute;
  // position: relative;
  top: 0px;
  // left:0px;
  // top:250px;
  // z-index: 1;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

// .screen-content {
//   // height: 100%;
//   // margin-bottom: $FooterHeight;
//   // position: relative;
// }
  
.layout-foreground {
  // position: absolute;
  // top: 0px;
  // z-index: 1;
  // z-index: 3;
  // margin-bottom: 2em;
}

#app-content {
  position: relative;
  z-index: 1;
  // min-height: 400px;
  // margin: 1em;
  // margin-bottom: 1em;
  padding: 16px;
  background-color: $PageBackground;
  margin-bottom: $FooterHeight;
}

.cta-box {
  width: 75%;
  margin: 10px auto;
  text-align: center;
}

// #smedium-info {
// }

// Nav formatting

.site-nav {
  position:relative;
  z-index: 1;
  top: 10px;
  left: 10px;
  // overflow: scroll;
}

.nav-button { 
  @include button;
  // position:relative;
  // z-index: 600;
  height: 52px;
  width: 52px;
  margin: 0;
  padding: 0;
  line-height: 52px;
  background-color: $GreyCharcoal;
  font-size: 24px;
  font-weight: 700;
}

// .off-canvas-wrap .inner-wrap {
//   height: 100%
// }


// Header image formatting

.image-header {
  // This is the countainer for the image (bottom) and the image bleed (top), both aligned to the top.
  // Image bleed should have overflow buffer at the bottom to cover overrun from image and keep it from showing up behind the footer.
  position: absolute;
  top: 0;
  // z-index: -3;
  width:100%;
  // height:100%;
}

.image-header-bleed {
  // with javascript, this can trigger a CSS blur on scroll, but keeping it lightweight for now.
}

@media #{$small-only} {
  #header-image {
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -3;
    height: 300px;
    visibility: visible;
  }
  .image-overlay {
    position: fixed;
    // z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color:$GreyCharcoal;
    opacity: 0.4;
  }
}

@media #{$medium-up} {
  #header-image {
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 450px;
  z-index: -3;
  visibility: visible;
  }
  .image-overlay {
    position: fixed;
    // z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color:$GreyCharcoal;
    opacity: 0.4;
  }
}

  // .overflow-buffer {
  //   position: fixed;
  //   z-index: -2;
  //   bottom: 0;
  //   height: 50px;
  //   width:100%;
  //   background-color: $PageBackground;
  // }
// }


// Hero formatting

@media #{$small-only} {
  .hero {
    position:relative;
    // position: absolute;
    // z-index: 100;
    height: 300px;
    width: auto;
    margin: 0 16px;
    text-align: center;

    .align-block {
      position: relative;
      top: 37%;
      margin-left:auto;
      margin-right:auto;
    }
  }
}
@media #{$medium-up} {
  .hero {
    position:relative;
    // z-index: 100;
    height: 450px;
    width: auto;
    text-align: center;

    .align-block {
      position: relative;
      top: 37%;
      max-width: 550px; 
      margin: 0 auto;     
    }
  }
}

.hero-title {
  margin: 0;
  font-weight: 600;
  color: $PageBackground;
}

.hero-description {
  margin-top: 0;
  font-weight: 400;
  color: $PageBackground;
}

// User profile layout
#profile-info {
  margin-top: -50px;
  width: auto;
  text-align: center;
  #profile_photo {
    width: 73px;
    margin-left: auto;
    margin-right: auto;
  }
}


// Footer formatting

#sticky-footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  // font-size: $FooterTextSize;
}

#footer-contents {
  margin-bottom: 5px;
  margin-top: 3px;
  border-top: 2px dotted $GreyMediumLight;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 100%;
}

footer {
  margin-bottom: 0px;
  height: $FooterHeight;
  width: 100%;
  font-size: $FooterTextSize;
  background-color: $PageBackground;
  
  .footer-text {
    vertical-align: middle;
    font-size: $FooterTextSize;
  }
  a {
    // margin: 0;
    // padding: 0;
    // font-size: $FooterTextSize;
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    float: right;
    // vertical-align: middle;
    list-style: none;
    font-size: $FooterTextSize;
    li {
      float: left;
      // vertical-align: middle;
      margin-left: 1em;
      // font-size: $FooterTextSize;
    }
  }
}


// User portrait sizing

.portrait_mini {
	border-radius: 12px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}

.portrait_normal {
	border-radius: 24px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}

.portrait_bigger {
	border-radius: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}


// forms

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  // @extend .control-group;
  @extend .error;
}


// Misc.
.debug_dump {
  position:relative;
  margin: 0;
  word-wrap: break-word;  
}
