// Custom Sass and CSS goes in here


// mixins, variables, etc.


// Basic formatting


// Header formatting

.hero {
	text-align: center;
	max-height: 300px;
}

.hero-image {

}

.align-block {
	vertical-align: middle;
	height: 100%
}

.hero-title {

}

.hero-description {

}


// Footer formatting

#sticky-footer {


}

footer {
  // @include panel($panel-color, $panel-padding);
  // width: 100%;
  // margin: 0;
  // position: fixed;
  // bottom: 0;

  // position:fixed;
  // bottom: 0;
  // left: 0;
  // z-index:-1;

  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px dotted #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


// User portrait sizing

.portrait_mini {
	border-radius: 12px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}

.portrait_normal {
	border-radius: 24px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}

.portrait_bigger {
	border-radius: 36px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}


// forms

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


// miscellaneous

.debug_dump {
  // @extend .panel;
}