// Custom Sass and CSS goes in here


// mixins, variables, etc.

$PageBackground: #ffffff;
$GreyMediumLight: #eaeaea;
$GreyCharcoal: #353535;
$GreySoftCharcoal: #3F4044;


// Basic formatting
.layout-foreground {
  position: relative;
  z-index: 1;
  margin-bottom: 2em;
}

.container {
  background-color: $PageBackground;
  // left:0px;
  // top:250px;
}

// Header image formatting
.image-header {
  position: fixed;
  top: 0;
  z-index: -1;
  width:100%;
  // height:100%;
  max-height: 350px;
  // background-color: $PageBackground;
}

.image-header-bleed{
  // width:100%;
  height:100%;
  z-index: -3;
  max-height: 350px;
}

.header-image {
  width:100%;
  // height:100%;
  z-index: -3;
  max-height: 300px;
  overflow:hidden;
}

// Nav formatting

.metabar {
  position: relative;
  top: 0;
  z-index: 1;
  // width: 100%;
  // height: 65px;

}

.s-button {
}

// // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
// $padding: 12px;
// // Primary color set in settings file. Default: $primary-color.
// $bg: orange;
// // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
// $radius: true;
// // We can set $full-width:true to remove side padding extend width. Default:false
// $full-width: false;
// // We can set $disabled:true to create a disabled transparent button. Default:false
// $disabled: false;
// // $is-input - <input>'s and <button>'s take on strange padding. We added this to help fix that. Default:false
// $is-input: false;




//   @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
//     // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
//   $padding: 12px;
//   // Primary color set in settings file. Default: $primary-color.
//   $bg: orange;
//   // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
//   $radius: true;
//   // We can set $full-width:true to remove side padding extend width. Default:false
//   $full-width: false;
//   // We can set $disabled:true to create a disabled transparent button. Default:false
//   $disabled: false;
//   // $is-input - <input>'s and <button>'s take on strange padding. We added this to help fix that. Default:false
//   $is-input: false;
// }




// Hero formatting

.hero {
  height: 250px;
  position: relative;
  // top: 0;
  z-index: 1;
  text-align: center;

  .align-block {
    height: 80;
    width: auto;
    position: relative;
    // z-index: -1;

    vertical-align: middle;

    // margin-top: 50px;
    // margin-left:auto;
    // margin-right:auto;

    // font-style: normal;
    color: $GreySoftCharcoal;
    
    .hero-title {
      // font-size: 32px;
      font-weight: 700;
      margin: 0;
      // margin-bottom: 0
    }
    .hero-description {
      // font-size: 18px;
      // font-weight: 400;
      // margin-bottom: 24px;
      margin-top: 0;
      margin-bottom: 1.5em;
    }
  }
}


// Footer formatting

#sticky-footer {
}

footer {
  position: fixed;
  bottom: 0;
  z-index: -1;

  height: 1em;
  width: 100%;

  margin-bottom: 5px;
  // margin-top: 1em;
  border-top: 2px dotted $GreyMediumLight;

  padding: 0 1em;

  color: #999;
  background-color: $PageBackground;
  
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1em;
    }
  }
}


// User portrait sizing

.portrait_mini {
	border-radius: 12px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}

.portrait_normal {
	border-radius: 24px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}

.portrait_bigger {
	border-radius: 36px;
	// -webkit-border-radius: 36px;
	// -moz-border-radius: 36px;
}


// forms

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


// Misc.

#debug_dump {
  position:relative;
  margin: 5px 10px;
  // margin-bottom: 20px;
}

