<footer id="sticky-footer">
  <small>
    <a href="https://github.com/rcolinkennedy/smedium/">smedium</a>
     by 
    <a href="https://github.com/rcolinkennedy">rcolinkennedy</a>
  </small>
    <nav>
      <ul>
<<<<<<< HEAD
        <small><li><%= link_to "Home", root_path %></li></small>
        <small><li><%= link_to "About", about_path %></li></small>
=======
        <small>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </small>
>>>>>>> front-end
      </ul>
    </nav>
</footer>
