<footer id='sticky-footer'>
  <div id='footer-contents'>
    <span class='footer-text'>
      <a href="https://github.com/rcolinkennedy/smedium/">smedium</a>
      by
      <a href="https://github.com/rcolinkennedy">rcolinkennedy</a>
    </span>
    <span>
      <ul>
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </span>
  </div>
</footer>
