<footer id='sticky-footer'>
  <span class='footer-text'>
    <small>
    <a href="https://github.com/rcolinkennedy/smedium/">smedium</a>
     by 
    <a href="https://github.com/rcolinkennedy">rcolinkennedy</a>
  </small>
  </span>
  <span>
    <ul>
      <small>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </small>
    </ul>
  </span>
</footer>
