<header >
  <div>
    <div class='hero'>
      <div class='align-block'>
        <h1 class="hero-title"><%= yield(:title) %></h1>
        <p class="hero-description"><%= yield(:description) %></p>
      </div>
    </div>
  </div>
</header>