<div class='image-header-bleed' 
	style='background-image: url(<%=yield(:header_image_url) %>)' id='header-image'>
</div>
<div class='image-overlay'>
</div>

<!-- <%= image_tag(yield(:header_image_url), class: 'header-image' ) %> -->
