<hero>
  <div>
  	<div class='hero'>
      <div class='align-block'>
      	<div class='hero-title'><%= yield(:hero_title) %></div>
	    <div class='hero-description'><%= yield(:tagline) %></div>
      </div>
    </div>
  </div>
</hero>