<hero>
  <div>
  	<div class='hero'>
      <div class='align-block'>
      	<h2 class='hero-title'><%= yield(:hero_title) %></h2>
	    <h4 class='hero-description'><%= yield(:tagline) %></h4>
      </div>
    </div>
  </div>
</hero>